<h1>New game</h1>
<!-- <p>Find me in app/views/games/new.html.erb</p> -->

<div>
  <ul class="list-inline">
    <% @letters.each do |letter| %>
      <li class="list-inline-item" id="list"><%=letter%></li>
    <% end %>
  </ul>

</div>

<div>
  <p>What's the longest word you can find?</p>
  <form action="/games/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word">
    <input type="submit" value="Submit">
  </form>
</div>

